doctype html
html(lang="he" dir="rtl")
head
body(style="text-align:right; direction:rtl;")
 div הי  #{name}, 
 br
 div בבקשה:
 br
 each contractor,i in data
  div #{i+1}. #{contractor.name}, טלפון #{contractor.phone_display ? contractor.phone_display :contractor.phone}
   br
   br
   each feedback in contractor.feedbacks
    div(style="padding-right:9px;")
     i המלצה שקיבלתי מ#{feedback.author}&nbsp;&nbsp;
      small
       a(href='mailto:#{feedback.email}') #{feedback.email}
     div  
      i(style="color:gray") #{feedback.feed}
    

    br
 div 
 br
 br
 div כשיהיו לי קבלנים נוספים שבדקתי אשלח עדכון ,מקווה שעזרתי ,בכל מקרה אני זמין לכל שאלה נוספת
 div תודה תומר חן ריחאנה.
 div
  a(href="http://bonimbayit.co.il") bonimbayit.co.il
  .small 0527073080

 br
 br
 div נ.ב
 div 
  b אני תמיד במעקב אחר רמת השירות ושביעות הרצון שלכם מהקבלנים המומלצים מהקהילה... התקשרתם והקבלן לא עונה? לא חזר אליכם עם הצעת מחיר ? שביעות הרצון שלכם מהשירות לא טובה ? תעדכנו אותי בבקשה כי בסוף כל קבלן יקבל "מד" שביעות רצון מכל הקהילה שלנו וקבלן שלא יעניק שירות מצוין פשוט לא יומלץ עוד. תמיד לשירותכם ותנצלו את הכוח של האתר , תעדכנו אותי ויחד נשנה קצת את עולם השירות בתחום הזה... בנוסף אשמח אם במהלך הבנייה תמליצו באתר עבור קהילת הבונים והמשפצים על קבלנים מצוינים שעבדתם איתם.



